In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used when you want to access data by label, and iloc is used when you want to access data by position. The choice between loc and iloc depends on whether you know the labels or the integer positions of the data you want to access in your DataFrame

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
new_df=df.reindex([3,0,1,2])

In [16]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

what i saw between both is df.loc[2] took the index labelling , in  this case we have given 2 as index labelling and it gave big data as a result.
in case of df.iloc[2] it took 2 as position like index position and gave us a result in the face of machine learnig .

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.141734  0.668802  0.434329  0.595963  0.248688  0.873718
2  0.278918  0.183693  0.008568  0.011406  0.362752  0.900087
3  0.578608  0.732188  0.051090  0.258249  0.787206  0.058342
4  0.428260  0.341466  0.623480  0.185841  0.499682  0.683726
5  0.532671  0.746949  0.901810  0.330644  0.209723  0.574015
6  0.518728  0.339511  0.350823  0.457871  0.553031  0.277418

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [21]:
df1.mean()

column_1    0.413153
column_2    0.502101
column_3    0.395017
column_4    0.306662
column_5    0.443514
column_6    0.561218
dtype: float64

In [25]:
df1['column_2'].std()

0.24261189741524714

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [30]:
df1['column_2']

1    0.668802
2    0.183693
3    0.732188
4    0.341466
5    0.746949
6    0.339511
Name: column_2, dtype: float64

In [31]:
x=['resh','adil','rehan','rxl','dlh','mumbai']

In [32]:
df1['column_2']=x

In [33]:
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.141734     resh  0.434329  0.595963  0.248688  0.873718
2  0.278918     adil  0.008568  0.011406  0.362752  0.900087
3  0.578608    rehan  0.051090  0.258249  0.787206  0.058342
4  0.428260      rxl  0.623480  0.185841  0.499682  0.683726
5  0.532671      dlh  0.901810  0.330644  0.209723  0.574015
6  0.518728   mumbai  0.350823  0.457871  0.553031  0.277418

In [34]:
df1['column_2'].mean()

TypeError: Could not convert reshadilrehanrxldlhmumbai to numeric

Explaination: we are getting error because we can't find the mean of any non numeric data .

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Window functions in Pandas offer powerful capabilities to analyze data over sliding or expanding windows, providing insights into trends and patterns. They include rolling functions for fixed-size windows (rolling()), expanding functions for cumulative calculations (expanding()), exponentially weighted moving averages (ewm()), and the ability to aggregate multiple statistics simultaneously (agg()). These functions are essential tools for time series analysis and data exploration tasks in Pandas.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [47]:
current_datetime = pd.Timestamp.now()
current_month = current_datetime.month
current_year = current_datetime.year

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: 7
Current year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [17]:
import pandas as pd
def calculate_time_difference(date1, date2):

    start_date = pd.Timestamp(date1)
    end_date = pd.Timestamp(date2)


    time_difference = end_date - start_date

   
    days = time_difference.days
    hours = time_difference.components.hours
    minutes = time_difference.components.minutes

    return days, hours, minutes


date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")


days_diff, hours_diff, minutes_diff = calculate_time_difference(date1, date2)


print(f"\nDifference between {date1} and {date2}:")
print(f"Days: {days_diff}")
print(f"Hours: {hours_diff}")
print(f"Minutes: {minutes_diff}")

Enter the first date (YYYY-MM-DD):  2024-06-15
Enter the second date (YYYY-MM-DD):  2024-06-20

Difference between 2024-06-15 and 2024-06-20:
Days: 5
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [15]:
import pandas as pd

def main():
  
    file_path = input("Enter the path to the CSV file: ").strip()
    column_name = input("Enter the column name to convert to categorical: ").strip()
    category_order = input("Enter the category order (comma-separated): ").strip().split(',')
    
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"Error: File '{file_path}' not found.")
        return
    except pd.errors.ParserError:
        print(f"Error: Failed to parse CSV file '{file_path}'.")
        return
    

    try:
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    except KeyError:
        print(f"Error: Column '{column_name}' not found in the CSV file.")
        return
    

    sorted_df = df.sort_values(by=[column_name])
    
    print(sorted_df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

def main():
    # Prompt user for file path
    file_path = input("Enter the path to the CSV file: ").strip()
    
    try:
        # Read CSV file into a DataFrame
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"Error: File '{file_path}' not found.")
        return
    except pd.errors.ParserError:
        print(f"Error: Failed to parse CSV file '{file_path}'.")
        return
    
    # Assuming CSV structure has columns like 'Date', 'Category', 'Sales'
    # You can adjust these column names as per your actual CSV structure
    # For example:
    # df = pd.read_csv(file_path, parse_dates=['Date'], index_col='Date')
    
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Pivot table to aggregate sales by category over time
    pivot_df = df.pivot_table(index='Date', columns='Category', values='Sales', aggfunc='sum', fill_value=0)
    
    # Plotting a stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    
    # Customize the plot
    plt.title('Stacked Bar Chart of Sales by Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Category')
    plt.tight_layout()
    
    # Display the plot
    plt.show()

if __name__ == "__main__":
    main()

Enter the path to the CSV file:  https://blue-scientist-hofrl.pwskills.app/lab/tree/work/titanic.csv

Error: Failed to parse CSV file 'https://blue-scientist-hofrl.pwskills.app/lab/tree/work/titanic.csv'.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.

In [22]:
df=pd.DataFrame({'Student_ID':[1,2,3,4,5,6,7,8,9,10],
'Marks_scored':[80,85,90,75,55,60,90,65,45,95]})

In [23]:
df

   Student_ID  Marks_scored
0           1            80
1           2            85
2           3            90
3           4            75
4           5            55
5           6            60
6           7            90
7           8            65
8           9            45
9          10            95

In [8]:
import pandas as pd

def main():
    data_path=input('Enter your path')
    try:
        df=pd.read_csv(data_path)
    except:
        print('file path not found')
        
    m=df[Marks_scored].mean()
    med=df[Marks_scored].median()
    mo=df[Marks_scored].mood()
    
    result=pd.DataFrame({'statistics':['mean','median','mode'],'values':[m,med,mood]})
    
    print(result)
    

if __name__ == "__main__":
    main()

Enter your path https://blue-scientist-hofrl.pwskills.app/lab/tree/work/students_scores.csv

file path not found

UnboundLocalError: local variable 'df' referenced before assignment